@charset "utf-8";
/* CSS Document */
/*Custom Style Sheet for DadaJoe.com

version: 1.0
last modified: 24.01.2014 by Vasu Naman (put your name in future if you modify)
author: Dipanjan Bagchi
email: dipa@vyrazu.com
website: http://www.vyrazu.com*/

body{
	background: #F7F5EE;
}
#background_page{
	min-width:1024px;
}
.container{
	min-width: 1024px;
}
.img_logo {
	padding: 12px 6px 6px 6px;
	padding-top: 12px;
	width: 30px;
}

.navbar_inner {
	padding: 0px;
	margin: 20px 0;
	background-image:url(../images/bg_nav_image.png);

}


.navbar .nav li a:hover{
	color: #0E6ECF;
	color: #FFF;
	background-image:url(../images/bg_nav_image.png);
	background-color: #0E6ECF;
	color: rgba(39,226,248,1);
}

.navbar .nav > li > a {
	float: none;
	padding: 10px 15px 10px;
	color: #FFF;
	text-decoration: none;
	background-color: #494949;
	background-image:url(../images/bg_nav_image.png);
	border-left: 1px solid #070707;
	border-top: 1px solid  rgba(191,58,51,1);
	border-top: 1px solid #27E2F8;
	cursor: pointer;

}

.z{
	border-right: 1px solid #070707;
}

.nav_pad{
	padding: 0px 146px;
	
}

.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0px;
}
/*dropdown menu css */


.menu_size{
	background-image: url(../images/bg_nav_image.png);
}


.menu{
	margin:0px auto;
	height:33px;
	
}

.menu li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	padding: 0px 15px;
	border: none;
	margin: 2px 10px;
	padding-top: 5px;
	color: #EEE;
}

.menu li:hover {
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:5px solid #2DA89B;
	padding-bottom:1px;
	color: #2BAA9F;
	transition: all .05s ease-out .05s;
}


.menu li:hover .dropdown_col_2 {
	top: auto;
	left: 0px;
	border-radius: 0px 10px 10px 10px;
	margin-top: 6px;
	padding: 10px 0 10px 10px;
	position: absolute;
	z-index:2000;
	background-color:#FFF;
	display: block;
	transition: all .5s ease-out .2s;
	
}


.dropdown_col_2{ 
	width:970px;
}

.dropdown_col_2{	
	float:left;
	text-align:left;
	border:1px solid #ccc;
	border-top:none;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
	display: none;
	position: fixed;
}

.col_2
{
	width:350px;
	box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	height:386px;
	
}
.col_2_large{
	width: 410px;
	box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	float: left;
	text-align:left;
	border:1px solid #ccc;
	border-top:none;
	display: none;
}
.menu li:hover .col_2_large{
	top: auto;
	left: 0;
	border-radius: 0px 10px 10px 10px;
	margin-top: 6px;
	padding: 10px 0 10px 10px;
	position: absolute;
	z-index:2000;
	background-color:#FFF;
	display: block;
	transition: all .5s ease-out .2s;
}
	

.menu_big_img{
	width: auto;
	float: left;
	margin: 17px 0 0px 17px;
	border: 1px solid #ABABAB;
}

.col_large
{
	width:590px;
	margin:0 10px;
	margin-top:10px;
	padding: 0 2px;
}

.col_1_left{
	width:192px;
	padding: 0 2px;
	padding-top:10px;
	display: inline;
	float: left;
	position: relative;
	padding: 0 2px;
}
	
.col_1
{
	width:192px;
	padding: 0 2px;
	padding-top:10px;
	
}

.col_1, .col_2, .col_large {
	display: inline;
	float: left;
	position: relative;
	padding: 0 2px;
}

.menu li a {
	
	font-size: 14px;
	display: block;
	outline: 0;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
	color: #EEE;
}

.x h6 {
	border-bottom:1px solid #333; 
	color: #2BAA9F;
}

.menu li ul li{
	font-size: 12px;
	line-height: 24px;
	position: relative;
	padding: 0;
	margin-left: 3px;
	float: none;
	text-align: left;
	width: 159px;
	position: static;
	color: #222;
}
.menu li ul li a{
	color: #222;
	text-decoration: none;
	font-size: 12px;
}
.menu li ul li a:hover{
	color: #2BAA9F;
}

.menu li ul {
	list-style: none;
	padding: 0;
	margin: 0 0 12px 0;
}
/*
.menu li:hover div a {
	font-size: 12px;
	color: #015B86;
	cursor: pointer;
}
*/



.menu li ul li:hover{
	color: #161616;
	font-family:Arial, Helvetica, sans-serif;
	border:0px;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	border-right:none;
	border-radius: 5px 0 0 5px;
	transition: all .01s ease-in-out .05s;
}	

.inner_text{
	font-size:18px;
	padding:10px 0 9px 5px;
	border-bottom:1px solid #000;
	color: #2BAA9F;
	
}

.image_head{
	width:auto;
}

.image_head h6{
	margin-top: -3px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

.image_size{
	width:auto;
	display: block;
	height:140px;
	padding: 2px 26px;
}

.image_sec img{
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.img_sec{	
	
	position: absolute;
	text-align:left;
	border:1px solid #ccc;
	border-top:none;
	width:150px;
	height:330px;
	font-size:12px;
	text-align:center;
	display:none;
	-webkit-box-shadow: inset -3px -2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset -3px -2px 3px 0px rgba(0, 0, 0, 0.2);
	padding: 13px 15px 0 19px;
}

.menu li ul li:hover .img_sec{
	top: 0px;
	border: 1px solid #CCC;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
	display:block;
	position: absolute;
	background-color: #F4F4F4;
	margin-left: 157px;
	margin-top: -8px;
	transition: all 0.5s ease-out 0.2s;
	cursor: pointer;

}


.menu li .x li:hover{
	background-color: #FFF;
	border: none;
}

.menu li .x li a:hover{
	color: #2BAA9F;
	text-decoration:underline;
}

#menu_1{
	margin-left: -100px;
}

#menu_2
{
	margin-left:-178px;
}

#menu_3
{
	margin-left:-262px;
}
#menu_4
{
	margin-left:-344px;
}
#menu_5
{
	margin-left:-435px;
}
#menu_6
{
	margin-left:-534px;
}
#menu_7
{
	margin-left:-658px;
}
#menu_8
{
	margin-left:-69px;
}
#menu_9{
	margin-left: -890px;
}
#menu_10
{
	margin-left:-260px;
}
.mr_lf_wd{
	width: auto;
	margin-left: 12px;
	float: left;
}

.just_content{
	width: auto;
	float: left;
}
.www{
	width: auto;
}
.menu li ul li .www a:hover{
	color: #222;
	text-decoration: underline;
}
.menu li ul li .www a{
	color: #2BAA9F;
	text-decoration: underline;
}

.menu_mar_tp{
	margin-top: 8px;
	width: auto;
	float: left;
}

/*End of top navigation and start of left navigation */

.left_nav_size{
	width: auto;
	margin: 25px 1px 0 10px;
	float: left;
}

.left_nav{
	float: left;
	min-height: 100px;
	width: 195px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	position: relative;
	margin: 0;
	padding: 0;
}


.left_nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 33px;
	color: #1A75CF;
	border-bottom: #D2D2D2 1px dotted;
	text-align: left;
}

.left_nav li:hover { 
	padding-left:0px;
}

.left_nav li:hover .dropdown_col_left{
	border-radius: 10px 10px 10px 10px;
	margin-top: 6px;
	padding: 10px 0 10px 10px;
	top: 0px;
	display: block;
	position: absolute;
	background-color: #F4F4F4;
	margin-left: 194px;
	transition: all 0.5s ease-out 0.2s;
	z-index: 1000;
}


.dropdown_col_left{
	float: left;
	text-align: left;
	border: 1px solid #CCC;
	border-top: none;
	display:none;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.dropdown_col_left {
	width: 830px;
	padding:10px 5px;
	
}

.left_nav li .y li{
	font-size: 12px;
	line-height: 24px;
	position: relative;
	padding: 0;
	margin-left: 5px;
	float: none;
	text-align: left;
	width: 159px;
	position: static;
	border-bottom: none;
}

.img_right{
	float: left;
	margin-top: 0px;
}

.left_nav li .y li:hover{
	border: none;
}

.left_nav li .y li a:hover{
	color: #000;
	text-decoration: underline;
}

.y h6{
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	text-rendering: optimizelegibility;
	border-bottom:1px solid #000;
}

.menu li:hover .left_nav{
	display: none;
}
/*End of left navigation and start of body part*/

.body_content_size{
	width: 100%;
	position: absolute;
	background-color: #FFF;
}


.body_content{
	width: 978px;
	margin: 0px auto;
	background-color: #F7F5EE;
}

.clear{
	clear: both;
}

.body_act_size{
	width: auto;
	float: left;
	float: right;	
}

.body_size{
	width: 730px;
	height:auto;
	padding:0 14px;
	float:left; 
	margin:25px 0;
}

.slider{
	width:100%;
	height:auto;
	margin-top: 7px;
}

.slider_info{
	background-color: #333;
	border-right: 1px solid #989898;;
	width:33.19%;
	float:left;
}


.slider_first_line {
	padding-top: 10px;
	display: block;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
}

.slider_second_line{
	text-align: center;
	color: #FFF;
	padding: 5px 0 5px 0;
	display: block;
	font-size: 12px;
	line-height: 12px;
	cursor:pointer;
}

.slider_info:hover{
	background-color:#FFF;
	border-bottom: 3px solid #FDD922;
}

.slider_info:hover .slider_first_line{
	color: #505050;
	font-weight: bold;
	text-decoration: none;
}

.slider_info:hover .slider_second_line {
	color: #505050;
	padding: 5px 0 2px 0;
	display: block;
	font-size: 12px;
	line-height: 12px;
	text-decoration:none;
}
.slider_info a:hover{
	text-decoration:none;
}

.image_header{
	border: 1px solid #333;
	background: -webkit-gradient(linear,left top,left bottom,from(#464646),to(#424242));
	background: -moz-linear-gradient(top,#464646,#424242);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#464646,endColorstr=#424242);
	background-image: -ms-linear-gradient(top,#464646,#424242);
	height: 38px;
	color: #FFF;
	line-height: 38px;
	font-size: 16px;
	font-weight: normal;
	float:left;
	width: 100%;
	margin-top: 30px;
}
.image_header_text{
	font-size:13px;
	float:right;
	color: #CCC;
}
	

.photo_display{
	float: left;
	width: 100%;
}

.image_pad
{
	padding: 0 10px;
}
.slider_image
{
	margin-bottom: 8px;
	box-shadow: 0 0 2px 0 #D3CBB8;
	position: relative;
	float:left;
}
.slider_img_size{
	float: left;
	width: 144px;
	text-align: center;
	border: 1px solid #F4F0E4;
	box-shadow: 1px 0 0 0 #FFF inset;
	background: #FFF;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	padding-top: 16px;
	text-decoration: none;
}

.slider_img_size img{
	height:59px;
}

.slider_img_size:hover{
	border-bottom:3px solid #FDD922;
}

.slider_text_line{
	text-align: center;
	padding: 6px 0 8px 0;
	display: block;
	font-size: 12px;
	line-height: 13px;
	cursor:pointer;
	color: #666;
}

.second_row{
	height: 250px;
	width: 100%;
	float: left;
	margin-bottom: 8px;
	position: relative;
}
.second_row_content{
	background-color: #FFF;
	height: 250px;
	float: left;
	border: 2px solid #fff;
	box-shadow: 0 0 2px 0 #d3cbb8;
}
.second_row1{
	width: 168px;
	float: left;
	border: 2px solid #FFF;
	box-shadow: 0 0 2px 0 #D3CBB8;
	height: 246px;
	background-color: #FFF;
}



.second_row1:hover{
	border: 2px solid #FDD922;
}

.second_row_text_line{
	text-align: center;
	padding: 6px 0 8px 0;
	display: block;
	font-size: 12px;
	line-height: 13px;
	cursor:pointer;
	color: #666;
}

.second_row2{
	width: 366px;
	height: 246px;
	float: left;
	border: 2px solid #fff;
	box-shadow: 0 0 2px 0 #d3cbb8;
	margin: 0 8px;
	background-color: #FFF;
}

.second_row2:hover{
	border: 2px solid #FDD922;
}

.third_row{
	box-shadow: 0 0 2px 0 #d3cbb8;
	position: relative;
	background: #fff;
	float: left;
	width: 100%;
}

.third_row1 a{
	float: left;
	cursor: pointer;
}

.third_row1_text span:before{
	border-bottom-color: #FFD926;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

.third_row1_text span:after{
	border-bottom-color: #FFF;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}

.third_row1{
	border-bottom: 1px solid #f4f0e4;
	height: 36px;
	width: 100%;
	float: left;
}


.third_row1_text{
	font-size: 12px;
	color: #999;
	text-decoration: none;
	text-align: center;
	padding: 8px 15px;
	position: relative;
	text-transform: uppercase;
	border-right: 1px solid #f4f0e4;
	float: left;
}

.third_row1_text:hover{
	color: #333;
	border-bottom: 2px solid #FDD922;
	font-weight: bold;
}

.th_row_container{
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 5px;
	position: relative;
}

.th_row_size{
	width: 672px;
	float: left;
	margin-left: 29px;
}

.th_row_1{
	width: 146px;
	padding: 9px;
	float: left;
	border: 2px solid transparent;
	display: block;
}

.th_row_1:hover{
	border: 2px solid #ffd926;
}

.th_text{
	font-size: 13px;
	color: #666;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 2px;
	float: left;
}

.th_text a{
	color: #666;
	cursor: pointer;
}

.th_text a:hover{
	color: #2271b2;
	text-decoration: underline;
}


.th_amount{
	margin-top: 1px solid #c9c9c9;
	font-size: 17px;
	font-weight: bold;
	color: #333;
	padding-top: 2px;
	float: left;
}

.slider_image_2_size{
	float: left;	
	width: 100%;
	margin-bottom: 8px;
	box-shadow: 0 0 2px 0 #D3CBB8;
}

.slider_image_2{
	width: 33.19%;
	float: left;
	border-left: 1px solid #f4f0e4;
	background: #fff;
}

.slider_image_2_text{
	padding-top: 10px;
	text-align: center;
	font-size: 15px;
}

.slider_image_2_img{
	height: 100px;
	padding-top: 5px;
	text-align: center;
}

.pic_hov{
	opacity: .99;
	z-index: 10;
	width: 730px;
	overflow: hidden;
	position: absolute;
	box-shadow: 0 5px 14px -7px #000;
	-webkit-transition: all 200ms ease-out 0s;
	-moz-transition: all 200ms ease-out 0s;
	-ms-transition: all 200ms ease-out 0s;
	transition: all 200ms ease-out 0s;
	display:none;
}

.slider_image_2:hover{
	background-color: #FDFBDF;
}


.slider_image_2:hover .pic_hov{
	display:block;
	top: auto;
	position: absolute;
	z-index:2000;
	background-color:#FFF;
}

.pic_heading{
	font-size: 18px;
	padding: 15px 0;
	text-align: center;
	background: #FDFBDF;
	box-shadow: 1px 0 0 0 #FFF inset;
	left: 14px;
	border: 1px solid #EDE8D9;
}

.pic_li{
	width: 16.6667%;
	float: left;
	display: block;
}

.pic_ul{
	margin:0px;
	padding:0px;
}

.pic_anc{
	background: #FDFBDF;
	border-left: 1px solid #EAE9D1;
	border-bottom: 3px solid #FDFBDF;
	box-shadow: 1px 0 0 0 #FEFCE8 inset;
	display: block;
	width: 100%;
}

.sub_pic{
	float: left;
	width: 100%;
	text-align: center;
	height: 55px;
	line-height: 75px;
	margin-bottom: 10px;
	top: 18px;
	padding-top: 20px;
}

#sub_pic1{
	margin-left:-1px;
}

#sub_pic2{
	margin-left: -244px;
}

#sub_pic3{
	margin-left: -488px;
}

/*
.viewed_section{
	border-top: 2px solid #000;
	margin-top: 20px;
	float: left;
}

.viewed_recently{
	width: 233px;
	border-right: 1px solid #CCC;
	float: left;
}

.viewed_heading{
	text-transform: uppercase;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 0;
	display: block;
}

.viewed_content{
	padding-bottom: 5px;
}

.view_li{
	padding: 5px 0;
	float:left;
	display:block;
}

.view_pic{
	margin: 4px 6px 0 0;
	text-align: center;
	width: 40px;
	height:34px;
}



ul{
	margin: 0;
	padding: 0;
}

.view_subcontent{
	float: left;
	width:160px;
	margin-left:10px;
}

.pic_con{
	width: auto;
	float:left;
}

.viewed_content2{
	padding-left: 14px;
	float: left;
	width: 730px;
}

.viewed_inner{
	float:left;
	padding-bottom: 5px;
	width: 100%;
}

.view_c2_li{
	width:146px;
	float:left;
	display:block;
}

.view_c2_inner{
	text-align:left;
	padding:5px;
	height: 206px;
	display:block;
}
.img_block{
	height:100px;
}
*/

.body_bottom{
	border-top: 2px solid #000;
	margin-top: 20px;
	width: 100%;
	float: left;
}

.footer_act_size{
	width:100%;
	float: left;
}

.footer_size{
	width: 100%;
	float:left;
	border-top: 1px solid #CCC;
	background-color: #FCFCFC;
	color: #848484;
	font-size: 11px;
	padding-bottom: 5px;

}
.footer_content{
	width: 978px;
	margin: 0px auto;
}
	

.footer_navigation{
	padding: 14px 0;
	float: left;
	color: #848484;
	text-align: left;
}
.footer_nav_size{
	margin-right: 14px;
	width: 234px;
	float: left;
}

.footer_nav_size1{
	width: 234px;
	float: left;
}

.footer_nav_header{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #565656;
	padding: 0 7px;
	line-height: 23px;
}

.footer_nav_content{
	font-size: 11px;
	border-bottom: 1px solid #E4E4E4;
	float: left;
	padding: 0 7px;
	line-height: 23px;
	text-decoration: none;
	width:220px;
	color: #565656;
}
.f_bor_none{
	border: none;
}
.footer_nav_content:hover{
	text-decoration: underline;
	color: #2271B2;
}

.footer_extra{
	padding-bottom: 14px;
	width:100%;
	float: left;
}

.footer_policy{
	float: left;
	padding-top: 9px;
	width: auto;
}

.footer_policy_contents{
	color: #565656;
	font-size: 11px;
	float: left;
	margin-left:2px;
}
.footer_policy_next{
	margin-left: 25px;
	font-size: 11px;
	width: auto;
	color: #565656;
	float: left;
}

.footer_social{
	float:right;
	width: auto;
}

.footer_social_content{
	text-transform: uppercase;
	width: auto;
	margin:7px 10px 0 0;
	float: left;
}
.footer_logo{
	width: 31px;
	height: 31px;
	margin-right: 5px;
	float: left;
}

.footer_act_content{
	padding: 14px 0;
	border-top: 1px dotted #E4E4E4;
	width: 100%;
	float: left;
}

.footer_bot_header{
	font-weight: bold;
	text-align: left;
	color: #848484;
	font-size: 11px;
	float: left;
}

.footer_bot_size{
	padding-bottom: 14px;
	float: left;
	width:100%;
}

.footer_brand{
	color: #565656;
	text-decoration: none;
	float:left;
	margin-left: 1px;
	font-weight: bold;
}
.footer_line_size{
	width: 100%;
	float: left;
}

.footer_line{
	width: 100%;
	float: left;
	line-height: 18px;
}

.footer_line_content{
	width: auto;
	line-height: 18px;
	color: #565656;
}

.footer_line_content:hover{
	
}

.footer_line_head{
	color: #565656;
	font-size: 11px;
	float: left;
	text-transform: uppercase;
	margin-right: 10px;
	line-height: 18px;
}

.footer_bank_details{
	padding: 10px 0;
	border-top: 1px dotted #E4E4E4;
	width: 100%;
	float: left;
}
.footer_bank_details h2{
	padding: 0px;
	margin: 0px;
}

.footer_bank_linesize{
	margin-top: 4px;
	float: left;
	width: 502px;
}
.footer_line_text{
	font-weight: bold;
	line-height: 14px;
	float: left;
}

.footer_bank_line{
	border-top: 1px solid #CCC;
	float: left;
	margin: 4px 0 0;
	width: 390px;
}

.footer_bank_logo{
	width: auto;
	float: right;
}

.footer_bank_text{
	font-size: 8px;
	font-weight: bold;
	float: left;
	line-height: 10px;
}

.footer_bank_text1{
	font-weight: bold;
	float: left;
	line-height: 14px;
	width: 100%
}

.footer_bank_logo_image{
	float: right;
	margin-top: -3px;
}

.footer_banks_image{
	float: left;
}

.footer_para{
	border-top: 1px dotted #E4E4E4;
	line-height: 16px;
	padding-top: 20px;
	margin-bottom: 10px;
	float:left;
	width: 100%;
	cursor: pointer;
}
   /*End of first and start of second Page*/

.product_mainsize{
	margin: 0 auto;
	width: 978px;
	padding: 0px 14px;
	background-color: #FFF;
	-moz-box-shadow: 0 0 2px 0 #d3cbb8;
	-webkit-box-shadow: 0 0 2px 0 #D3CBB8;
	box-shadow: 0 0 2px 0 #D3CBB8;
}

.product_link{
	padding: 10px 0 0 7px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 13px;
	color: #848484;
	float: left;
	width: 100%;
}

.product_link a{
	text-decoration: none;
	color: #565656;
	cursor: pointer;
}

.product_left_size{
	width: 234px;
	float: left;
	position: relative;
}
.product_left_head{
	width: 100%;
	margin-bottom: 6px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}
.product_left_head_pad{
	width:100%;
	padding: 5px 7px;
	font-weight: bold;
	color: #565656;
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 12px;
	
}
.product_left_head_text{
	color: #565656;
	text-transform: uppercase;
	font-size: 15px;
	float:left;
}

.browser_ul{
	padding:0;
	margin: 0;
}

.browser_li{
	padding:0;
	margin:0;
	display:block;
}

.browser_li a{
	padding: 5px 3px 5px 4px;
	display: block;
	color: #666;
	text-decoration: none;
	cursor: pointer;
	line-height:16px;
	cursor: pointer;
}

.pro_radio_bt{
	float: left;
	width: 100%;
	line-height: 18px;
}

.pro_radio_bt a{
	padding: 3px 3px 3px 8px;
	display: block;
	color: #666;
	text-decoration: none;
	cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
	margin:0 0;

}

.pro_radio_bt a:hover{
	background-color: #EEE;
	text-decoration: none;
	cursor: pointer;
	color: #2271B2;
}

.offer_size a:hover {
	text-decoration: none;
	cursor: pointer;
}

.pro_radio_text{
	margin-left: 2px;
	float: left;
}

.pro_radio_count{
	color: #888;
	font-size: 12px;
	margin-left: 3px;
}

.product_br_top{
	border-top: 1px dashed #C9C9C9;
	margin-top: 10px;
	width: 100%;
	margin-bottom: 5px;
	display: inline-block;
}

.offer_size{
	padding: 12px 7px 5px 7px;
	float: left;
	font-weight: bold;
	width: 100%;
}
.product_price_heading:hover .product_br_top{
	background-color: #EEE;
	cursor: pointer;
}
.pro_icon_minus{
	float: right;
	margin: -20px 5px 0 0;
	padding:0 2px 1px 2px;
	border: 1px solid #DDD;
	margin-right: 8px;
}
.offer_heading{
	background: #6FBA54;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	padding: 4px;
	display: inline-block;
	font-weight: normal;
	line-height: 17px;
}

.product_price_heading{
	font-weight: bold;
	text-align: left;
	font-size: 15px;
	color: #565656;
	float:left;
	width: 100%;
}

.product_heading_ul{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.product_heading_ul li{
	margin-left: 5px;
	width: 100%;
	font-size: 13px;
	display: block;
	line-height: 25px;
	
}
.product_heading_ul li:hover{
	background-color: #EEE;
}

.pro_head_li{
	opacity: .5;
}

.pro_head_li a{
	color: #333;
	text-decoration: none;
	padding: 4px;
	width: 100%;
	cursor: pointer;
}

.product_heading_ul li a{
	color: #333;
	text-decoration: none;
	padding: 4px;
	width: 100%;
	cursor: pointer;
	
}
.product_heading_ul li a:hover{
	background-color: #EEE;
}
	
.pro_head_li a:hover{
	background-color: #EEE;
	text-decoration: none;
	cursor: pointer;
}

.pro_head_li:hover{
	background-color: #EEE;
}
	

.pro_brand_box{
	width: 215px;
	padding: 5px;
	border-radius: 2px;
	font-size: 13px;
	color: #999;
}

.pro_scroll{
	overflow: auto;
	height: 185px;
	overflow-x: hidden;
}

.pro_scroll_bar{
	border-radius: 8px;
	border: 2px solid #FFF;
	opacity: .5;
	background: #AAA;
}

/*End of left body text*/

.sub_prod_text{
	width:100%;
	font-weight: bold;
	color: #565656;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 24px;
}

.body_right_size{
	width: 730px;
	height: auto;
	padding-left: 14px;
	float: left;
	margin: 25px 0;
}

.product_top_image{
	width: 723px;
	height: 90px;
	margin-bottom: 10px;
}
.product_top_textpart{
	padding-top: 12px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 18px;
	text-align: left;
	float: left;
}

.product_right_text{
	width: auto;
	float: left;
	color: #848484;
}

.pro_text_content{
	font-weight: bold;
	width:100%;
	float: left;
	font-size:19px;
}

.pro_text_new{
	line-height: 30px;
	width: 100%;
	float: left;
	margin-top: 4px;
	font-size: 20px;
}

.product_search_box{
	float: right;
	width: auto;
}

.pro_box{
	border: 1px solid #BCBCBC;
	color: #999;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 242px;
	padding: 5px;
	line-height: 18px;
	border: 1px solid #DCDCDC;
	vertical-align: middle;
	padding-right: 30px;
	font-size: 13px;
	float:left;
}

.pro_content_size{
	width: 100%;
	float: left;
}

.pro_con_top{
	border-top: 2px solid #333;
	padding: 7px 0;
	margin-bottom: 10px;
	width: 100%;
	float: left;
}

.product_name_text{
	color: #848484;
	font-size: 15px;
	float: left;
}

.pro_dropdown{
	color: #848484;
	float: right;
	height: 25px;
	width:auto;
}
.feature_color{
	color: #333;
}
.pro_text_sort{
	float:left;
	margin-right: 5px;
	width: auto;
}

.pro_row_size{
	width: 100%;
	float: left;
}
.pro_row_con_pad{
	width:	auto;
	padding-left: 14px;
	float: left;
}

.pro_th_row_1
{
	width: 150px;
	padding: 9px;
	float: left;
	border: 2px solid transparent;
	display: block;
	margin-bottom: 10px;
}

.pro_th_img  {
	width: 150px;
	height: 150px;
	padding-bottom: 13px;
	text-align: center;
	display: table-cell;
	vertical-align: bottom;
}

.pro_th_row_1:hover{
	border: 2px solid #ffd926;
}


.pro_th_border_bt{
	border-top: 1px solid #C9C9C9;
	float: left;
}

.pro_th_bor_top{
	border-bottom: 1px solid #C9C9C9;
	float: left;
}

.pro_th_ul{
	font-size: 11px;
	list-style-type: disc;
	padding-left: 17px;
	margin: 0;
	margin-top: 4px;
	float: left;
	width: 136px;
}

.pro_th_ul li{
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	line-height:14px;
	color: #848484;
}

.pro_th_end{
	margin-top:4px;
	padding-top:4px;
	border-top: 1px solid #C9C9C9;
	float: left;
	width: 100%;
	
}

.pro_check_box{
	margin: 4px 4px 0 0;
	float: left;
}

.pro_check_text{
	font-size: 12px;
	float: left;
	color: #848484;
}

.pro_discount{
	color: #848484;
	padding-bottom: 2px;
	font-size: 11px;
	float: left;
}

.pro_sub_discount{
	margin-left: 4px;
	float:left;
}
.pro_linecut{
	color: #848484;
	text-decoration: line-through;
	float: left;
}

.pro_th_amount{
	margin-top: 1px solid #c9c9c9;
	font-size: 17px;
	font-weight: bold;
	color: #333;
	padding-top: 2px;
	float: left;
	border-bottom: 1px solid #C9C9C9;
	border-top: 1px solid #C9C9C9;
	width: 100%;
	
	
}
.pro_sell_info{
	font-size: 11px;
	border-top: 1px dotted #C0C0C0;
	margin-top: 5px;
	padding-top: 5px;
	float: left;
	width: 100%;
	color: #848484;
}

.pro_sell_info a{
	text-decoration: underline;
	color: #666;
	font-weight: normal;
	margin-right: 3px;
	font-size: 11px;
	cursor: pointer;
}

.pro_sell_info a:hover{
	color: #2271B2;
}

.pro_second_page{
	margin-bottom: 30px;
	background: #F3F3F3;
	padding: 5px 8px;
	color: #848484;
	width: 98%;
	float: left;
}

.img_opacity{
	opacity: 0.3;
}

.pro_outof_stock{
	margin-top: -68px;
	margin-left: 20px;
	float: left;
}

.pro_offer_pro{
	margin-top: -25px;
	margin-left: 44px;
	float: left;
	color: #A0A0A4
}

.pro_out_mark{
	position: absolute;
	padding: 1px 10px;
	border: 1px solid #E4E4E4;
	background-color: #FFF;
	color: #565656;
}

.stock_img{
	float: left;
	width: auto;
}

.offer_heading1{
	background: #6FBA54;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	padding: 3px 7px;
	display: inline-block;
	font-weight: normal;
	line-height: 17px;
	float: left;
	position: absolute;
}


/*End of third page and start of second*/

.pro_name_heading{
	font-size: 28px;
	margin-bottom: 10px;
	width: 100%;
	float: left;
	text-transform: uppercase;
	color: #848484;
	font-weight: bold;
	line-height: 37px;
}

.pro_name_heading h1{
	padding: 0;
	margin: 0;
}

.pro_name_top_image {
	width: 723px;
	height: 90px;
	margin-bottom: 6px;
	float: left;
}
.pro_store{
	padding: 7px 10px;
	border-top: 2px solid #565656;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
	color: #848484;
	font-weight: bold;
	line-height: 36px;
	font-size: 15px;
}

pro_name_row_pad {
	width: auto;
	padding-left: 14px;
	float: left;

}
pro_name_th_row_1 {
	width: 230px;
	float: left;
	border: 2px solid rgba(0, 0, 0, 0);
	display: block;
	margin-bottom: 10px;
}
/*End of third page*/
/*Start of description page*/

.desc_img_size{
	float: left;
	width: 400px;
}
.desc_image{
	width: 100%;
	height: 400px;
	display: table-cell;
	vertical-align: middle;
}

.desc_sm_img_size{
	padding-left: 7px;
	float: left;
	text-align: center;
}

.desc_sm_img{
	height: 99px;
	width: 70px;
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
	line-height: 0;
	border: 1px solid #E5E5E5;
}

.desc_right_size{
	width: 559px;
	padding-left: 19px;
	float: left;
}

.desc_top_heading{
	width: 100%;
	font-weight: normal;
	font-size: 21px;
	float: left;
	color: #000;
	float: left;
	line-height: 25px;
}

.desc_line{
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
	overflow: hidden;
	color: #848484;
	float: left;
	width: 100%;
}

.desc_rating{
	margin: 5px 0;
	overflow: hidden;
	color: #848484;
	float: left;
	width: 100%;
}
.desc_left_line{
	margin-right: 5px;
	float: left;
	font-size: 12px;
}
.desc_left_line a{
	color: #848484;
	text-decoration: underline;
	cursor: pointer;
}

.desc_count{
	font-size: 12px;
	float: left;
}

.desc_right_line{
	margin-left: 40px;
	float: left;
	font-size: 12px;
}

.desc_count a{
	color: #848484;
	text-decoration: underline;
	cursor: pointer;
}
.desc_count a:hover {
	color: #2271B2;
}

.desc_line_extra{
	font-size: 15px;
	border-top: 1px solid #EEE;
	padding: 10px 0;
	overflow: hidden;
	width: 100%;
	float: left;
	color: #848484;
	cursor: pointer;
}

.desc_line_extra1 {
	width: 64%;
	float: left;
	margin-right: 10px;
	color: #848484;
}

.desc_line_extra2 {
	line-height: 15px;
	font-size: 11px;
	float: left;
	width: 191px;
}
.desc_info {
	float: left;
	width: 100%;
}

.desc_row1_ul {
	width: 100%;
	float: left;
	border-bottom: 1px solid #565656;
	margin: 0;
	padding: 0;
}

.desc_row1_ul li {
	width: 136px;
	margin-left: 15px;
	float: left;
	cursor: pointer;
	z-index: 1;
	background-color: #FFF;
	display: block;
}

.desc_row1_ul li a {
	padding: 5px 10px 0 10px;
	text-decoration: none;
	color: #666;
	float: left;
	width: 100%;
	cursor: pointer;
}
.desc_row1_1{
	float: left;
	color: #666;

}
.desc_row1_rs1{
	font-size: 21px;
	float: left;
}

.desc_row1_2{
	float: left;
	color: #666;
	font-weight: bold
}
.desc_row1_rs2{
	font-size: 21px;
	font-weight: bold;
	float: left;
}

.desc_xchg{
	margin-left: 387px;
	float: left;
	margin-top: -15px;
}
.desc_xchg a{
	text-decoration: underline;
	cursor: pointer;
}
.desc_xchg_text {
	padding: 10px 0 5px 10px;
	float: left;
	width: 100%;
	font-size: 12px;
	color: #848484;
	line-height: 17px;
}
.desc_ovf{
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: bottom;
	text-overflow: ellipsis;
}
.desc_ch_box_size{
	width: 300px;
	float: left;
	padding: 10px;
}

.desc_ch_box{
	-moz-transition: max-height .2s ease-out;
	-webkit-transition: max-height .2s ease-out;
	-o-transition: max-height .2s ease-out;
	transition: max-height .2s ease-out;
	border: 1px solid #E4E4E4;
	overflow: hidden;
	max-height: 38px;
	color: #565656;
	width: 100%;
}
.desc_bx_size{
	cursor: pointer;
	position: relative;
	padding: 10px 10px 8px;
}

.desc_bx_text{
	display: inline-block;
	line-height: 20px;
	padding: 1px 5px 0 5px;
	vertical-align: top;
}

.img_icon{
	float: right;
}

.desc_check_box{
	margin-top: 5px;
	padding: 0 0 10px 10px;
	width: 50%;
	float: left;
}
.desc_buy_now{
	margin-top: 10px;
	width: 50%;
	padding-left: 10px;
	float: left;
}
.buy_size{
	width: 232px;
	font-size: 22px;
	line-height: 24px;
}
.desc_buy_int{
	padding: 8px 0;
	border: 1px solid #EC6723;
	background: linear-gradient(to bottom,#F77219 1%,#FEC6A7 3%,#F77219 7%,#F75B16 100%);
	display: inline-block;
	color: #F9F9F9;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
}
.desc_buy_now a{
	text-decoration: none;
	cursor: pointer;
}
.desc_buy_now a:hover{
	text-decoration: none;
	color: #FFF;
	border: 1px solid #EE3A39;
	background: linear-gradient(to bottom,#F28941 1%,#FEC6A7 3%,#F28941 7%,#F75B16 100%);
}

.desc_selling_size{
	margin-top: 20px;
	width: 100%;
	float: left;
}

.desc_selling{
	width: 668px;
	float: left;
}
.desc_selling_heading{
	color: #333;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0 10px 0;
	float: left;
	border-top: 2px solid #333;
	width: 100%;
}
.desc_selling_head_text{
	width: 358px;
	float: left;
	line-height: 20px;
}

.desc_rit{
	float: left;
	width: auto;
	margin-left: 168px;
}

.desc_rit a {
	color: #666;
	text-decoration: none;
	cursor: pointer;
}

.desc_rit a:hover {
	color: #2271B2;
	text-decoration: underline;
}

.desc_pro_seller{
	width: 100%;
	float: left;
}
.desc_price_deatils1{
	width: 18%;
	float: left;
	padding: 5px;
	padding-left: 0;
}
.desc_price_deatils2{
	width: 16.6667%;
	float:left;
	padding: 5px;
}

.desc_price_deatils3{
	width: 26%;
	float: left;
	padding: 5px;
	font-size: 11px;
}
.desc_price_color{
	color: #B00;
	font-size:13px;
	float: left;
	width: 100%;
}
.desc_del_color{
	color: #848484;
	font-size: 11px;
	float: left;
	width: 100%;
}
.desc_del_color a{
	color: #666;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}

.desc_del_color a:hover{
	color: #2271B2;
	text-decoration: underline;
}

.desc_avail{
	color: #6BAD50;
	font-size: 13px;
	float: left;
	width: 100%;
}

.desc_seller_comp{
	float: left;
	width: 100%;
}

.desc_selling_clbox{
	padding-top: 10px;
	width: auto;
	float: left;
	margin-left: 141px;
}

.buy_size1{
	width: 88px;
	font-size: 11px;
	line-height: 10px;
}

.desc_selling_clbox a:hover{
	text-decoration: none;
	color: #FFF;
	border: 1px solid #EE3A39;
	background: linear-gradient(to bottom,#F28941 1%,#FEC6A7 3%,#F28941 7%,#F75B16 100%);
}

.desc_offer_size{
	width: 730px;
	border-top: 2px solid #333;
	margin-bottom: 10px;
	float: left;
}
.desc_offer_size_heading{
	padding: 5px 0 10px 0;
	width: 100%;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #848484;
	float: left;
}
.desc_offer_next{
	/*border-bottom: 1px solid #CCC;*/
	font-size: 11px;
	padding: 10px 0;
	width: 100%;
	float: left;
}
.desc_offer_name{
	display: inline;
	font-size: 11px;
	text-transform: uppercase;
	float: left;
	width: 160px;
}

.desc_offer_text{
	display: inline;
	font-size: 11px;
	float: left;
	width: 100%;
	color: #848484;
}

.desc_offer_col{
	background-color: #6FBA54;
	color: #FFF;
	padding: 2px;
	margin-bottom: 5px;
	float: left;
}
.desc_offer_name a{
	color: #EEE;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}
.desc_shop_now{
	margin-left: 150px;
}

.desc_spe_heading{
	line-height: 21px;
	text-transform: uppercase;
}
.spec_size{
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

.spec_heading{
	background-color: #F9F9F9;
	border: 1px solid #F9F9F9;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	float: left;
	color: #848484
}

.spec_text_size{
	background-color: #FFF;
	width: 100%;
	float: left;
}

.spec_text1{
	border-right: 1px solid #C9C9C9;
	padding: 5px;
	width: 25%;
	font-weight: normal;
	border-color: #808080;
	float: left;
	color: #848484;
	border-bottom: 1px dotted #C9C9C9;
}
.spec_text2{
	padding: 5px;
	width: 72%;
	float: left;
	color: #848484;
	border-bottom: 1px dotted #C9C9C9;
}

.spec_end{
	border: 1px solid #CCC;
	font-size: 13px;
	margin: 10px auto;
	text-align: center;
	background: #F2F2F2;
	padding: 5px;
	width: 650px;
	color: #848484;
}

.spec_rit{
	float: left;
	width: auto;
	color: #848484;
	font-size: 13px;
	text-transform: none;
}

.spec_rit a{
	color: #666;
	text-decoration: none;
	cursor: pointer;
}
.spec_rit a:hover{
	color: #2271B2;
	text-decoration: underline;
}

.spec_left_size{
	width: 800px;
	float: left;
}

.review_size{
	width: 100%;
	float: left;
	border-top: 1px dotted #CCC;
	padding-top: 15px;
}
.review_left_size{
	width: 705px;
	margin-right: 20px;
	float: left;
}

.review_heading{
	color: #333;
	float: left;
	text-transform: uppercase;
	font-size: 13px;
}

.review_link{
	margin-bottom: 10px;
	width: 100%;
	float: left;
	color: #848484;
}

.review_content{
	padding: 10px 0;
	border-bottom: 1px dotted #CCC;
	float: left;
	width: 100%;
}
.review_text_img{
	width: 20%;
	float: left;
	line-height: 18px;
}
.review_img{
	margin-top: 5px;
	width: 100%;
	float: left;
}

.review_con_size{
	width: 80%;
	float: left;
}

.review_con_size_head{
	margin-bottom: 5px;
	font-size: 13px;
	color: #333;
	width: 100%;
	float: left;
}

.review_hover{
	width: 100%;
	float: left;
	font-size: 12px;
	color: #848484;
}
.review_hover a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

.review_hover a:hover{
	text-decoration: underline;
	color: #2271B2;
}

.review_status{
	width: 100%;
	float: left;
	color: #848484;
}

.review_status_text1{
	width: 75%;
	float: left;
}

.review_status_text2{
	width: 25%;
	float: left;
}
.para_margin{
	margin-bottom: 10px;
	color: #848484;
	line-height: 17px;
}
.para_text{
	color: #848484;
	line-height: 17px;
}
	
.trans_text{
	text-transform: uppercase;
	overflow: hidden;
}

.date_width{
	width: 100%;
	color: #848484;
}

.reviews_read{
	width: 100%;
	float: left;
}

.other_pro_size{
	width: 100%;
	float: left;
}

.other_pro_size ul{
	padding-left: 20px;
	margin: 0;
	float: left;
	font-size: 11px;
}

.other_pro_size ul li a{
	color: #666;
	cursor: pointer;

}
.other_pro_size ul li a:hover {
	color: #2271B2;
	text-decoration: underline;
}
.view_all_pro{
	font-size: 12px;
	width: 100%;
	float: left;
	color: #666;
}
.view_all_pro a{
	color: #666;
	cursor: pointer;
}
.view_all_pro a:hover{
	color: #2271B2;
	text-decoration: underline;
}
.view_all_col{
	color: rgb(255, 153, 0); 
	font-size: 90%;
}

.last_line{
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	float: left;
	margin-top: 20px;
	font-weight: bold;
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
	margin-bottom:10px;
}

.review_right_size{
	width: 253px;
	float: left;
}

.review_right_cont{
	width: 100%;
	float: left;
}
.review_rit_content{
	padding: 10px 0;
	border-bottom: 1px dotted #CCC;
	width: 100%;
	float: left;
}

.desc_avail_large{
	color: #6BAD50;
	font-size: 20px;
	float: left;
	width: 100%;
	padding-top: 5px;
}

.desc_del_color {
	float: left;
	width: 100%;
	color: #565656;
	padding-top: 5px;
	line-height: 16px;
}
.desc_size_half{
	width: 50%;
	float: left;
}
.desc_size_half_con{
	border-left: 1px solid #E5E5E5;
	width: auto;
	float: left;
	position: relative;
	padding-left: 15px;
}

.del_option{
	color: #565656;
	margin-top: 10px;
	float: left;
	width: 100%;
}

.pass_code{
	padding-top: 5px;
}


